<div class="header">
  <ul class="nav">
    <li><%= link_to("Octopus Deploy", "https://octopusdeploy.com/") %></li>
    <li><%= link_to("Create Recipe", new_recipe_path) %></li>
    <li><%= link_to("Home", root_url) %></li>
  </ul>
</div>
<div class="container">
  <h1>Current Recipes</h1>
  <ul>
    <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
  <a href="/newrecipe">Create New Recipe</a>
</div>
