/*body{
  background-color: #363535;
  color: white;
  font-family: helvetica;
}

.container{
  width: 960px;
  margin: auto;

}

.container h1{
  text-align: center;
  color: #F05DDF;

}
.container ul{
  list-style-type: none;
  text-align: center;
}

.container li{
  text-decoration: none;
}

.container a{
  text-decoration: none;
}
*/
